<section id="contact" class="bg-darkColor text-white">
  <div class="max-w-5xl container px-10 py-16 mx-auto lg:text-2xl">
    <h2 class="font-nunito text-5xl text-center text-white mb-16">
      Reach Us Today!
    </h2>
    <address
      class="flex flex-col lg:flex-row justify-between items-center gap-10"
    >
      <p>
        Email: <a class="underline" href="mailto:someone@info.com"
          >info@jaesam.com.gh</a
        >
      </p>
      <p>WhatsApp: <a class="underline" href="tel">+2339999999</a></p>
    </address>
  </div>
</section>
