---
import { navItems } from "./Navbar.astro";
---

<footer class="bg-darkColor border-t-2 border-dotted text-white">
  <div
    class="max-w-screen-xl container mx-auto px-10 py-4 grid grid-cols-1 lg:grid-cols-3 items-center justify-between gap-8"
  >
    <div>
      <a href="/"> <img src="/images/footer-logo.png" alt="Jaesam logo" /></a>
      <small class="font-bold italic"
        >All Rights Reserved &copy; {new Date().getFullYear()}</small
      >
    </div>
    <ul class="grid grid-cols-2 gap-4 font-bold">
      {
        navItems.map(({ label, href }) => (
          <li>
            <a href={href}>{label}</a>
          </li>
        ))
      }
    </ul>
    <div class="flex gap-4 items-center text-2xl lg:justify-self-end">
      <p class="hover:-translate-y-2 duration-300 cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-twitter"
          ><path
            d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
          ></path></svg
        >
      </p>
      <p class="hover:-translate-y-2 duration-300 cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-instagram"
          ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
            d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
            x1="17.5"
            x2="17.51"
            y1="6.5"
            y2="6.5"></line></svg
        >
      </p>
      <p class="hover:-translate-y-2 duration-300 cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-facebook"
          ><path
            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
          ></path></svg
        >
      </p>
    </div>
  </div>
</footer>

<style>
  img {
    width: 80px;
  }
</style>
