<section id="services">
  <div class="max-w-screen-xl container mx-auto px-10 py-16">
    <h2 class="font-nunito text-5xl text-center text-blueColor mb-10">
      What We Do
    </h2>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-8 font-bold text-blueColor">
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Website Development and Management (Business websites)</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Website Development and Management (Portfolio websites)</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Social Media Management</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Google Location and Analytics</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Rebranding and Promotion</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>CV Proofreading and Editing</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Essay Composition</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>School Projects Assistance</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Thesis Assistance</p>
      </li>
      <li
        class="flex items-center gap-2 hover:-translate-y-1 transition-all duration-900 hover:text-darkColor"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-corner-down-right"
            ><polyline points="15 10 20 15 15 20"></polyline><path
              d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg
          >
        </span>
        <p>Academic Consultation</p>
      </li>
    </ul>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from("#services", {
    opacity: 0,
    ease: "back.out",
    duration: 2,
    delay: 1,
    yoyo: true,
    scrollTrigger: {
      trigger: "#services",
    },
  });
</script>
